form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


#logo {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border:none
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

h1{
    text-align: center;
    font-size: 35px;
}



footer{
    background-color: rgb(9, 116, 9);
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
#white{
    color: white;
    text-align: center;
}