body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 20px;
}

#logo {
    width: 200px;
    height: auto;
}

#payment {
    background-color: #f2f2f2;
    padding: 20px;
}

#payment h1 {
    text-align: center;
    margin-bottom: 20px;
}

#payment label {
    display: block;
    margin-bottom: 5px;
}

#payment input[type="text"],
#payment input[type="email"],
#payment input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#payment input[type="submit"] {
    
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#payment input[type="submit"]:hover {
    background-color: #3e8e41;
}


footer{
    background-color: rgb(9, 116, 9);
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}